<!-- wp:template-part {"slug":"header","theme":"nodeeweb","tagName":"header"} /-->

    <!-- wp:group {"style":{"color":{"background":"#f9fafb"},"spacing":{"padding":{"top":"80px","bottom":"78px"}}},"className":"padding-0 first-block padding-top48-at-mobile padding-bottom48-at-mobile padding-left16-at-mobile padding-right16-at-mobile","layout":{"type":"constrained"}} -->
    <div class="wp-block-group padding-0 first-block padding-top48-at-mobile padding-bottom48-at-mobile padding-left16-at-mobile padding-right16-at-mobile has-background" style="background-color:#f9fafb;padding-top:80px;padding-bottom:78px">
        <!-- wp:pattern {"slug":"nodeeweb/title-description"} /-->

        <!-- wp:pattern {"slug":"nodeeweb/boxes4"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:pattern {"slug":"nodeeweb/box-services"} /-->

    <!-- wp:pattern {"slug":"nodeeweb/info-banner"} /-->

    <!-- wp:pattern {"slug":"nodeeweb/news-box"} /-->

    <!-- wp:pattern {"slug":"nodeeweb/call-action-banner"} /-->

    <!-- wp:group {"style":{"color":{"background":"#f9fafb"},"spacing":{"padding":{"top":"80px","bottom":"78px"}}},"className":"first-block padding-top48-at-mobile padding-bottom48-at-mobile padding-left16-at-mobile padding-right16-at-mobile","layout":{"type":"constrained"}} -->
    <div class="wp-block-group first-block padding-top48-at-mobile padding-bottom48-at-mobile padding-left16-at-mobile padding-right16-at-mobile has-background" style="background-color:#f9fafb;padding-top:80px;padding-bottom:78px">
        <!-- wp:pattern {"slug":"nodeeweb/title-description"} /-->

        <!-- wp:pattern {"slug":"nodeeweb/boxes3"} /-->
    </div>
    <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"nodeeweb","tagName":"footer"} /-->